$border-color: #70ad47; // ボーダーライン
$primary-color: #507e32; // ボタン濃い
$primary-color-light: #99c184; // ボタン薄い
$disabled-background-color: #808080; // 無効なINPUTの背景色

.container {
  padding: 0 2rem;
}

#Disable {
  background-color: #666666;
}

.liner {
  display: flex;
}

p {
  color:#ccc;
}

.condition-container {
  position: relative;
  border: 1px solid black;
  padding: 2rem 1rem 1rem;
  min-width: 10rem;
  margin-right: 1rem;

  .condition-name {
    position: absolute;
    top: -0.5rem;
    left: 1rem;
    background: white;
    padding: 0 0.5rem;
  }

  .lockbolt {
    display: flex;
    > *:first-child {
      margin-right: 1rem;
    }
  }

  .is-disabled {
    background: $disabled-background-color;
  }
}

.section-title {
  display: flex;
  align-items: center;
  margin: 6px 0;
  h2 {
    font-size: 1.2rem;
    font-weight: normal;
    margin-right: 0.5rem;
  }
  .divider {
    border-bottom: 1px solid $border-color;
    flex: 1 0 auto;
  }
}

.margin-left {
  margin-left: 1rem;
}
