<div>
  <div class="px-8">
    <div class="flex items-center my-1.5">
      <h2 class="text-lg font-normal mr-2">構造条件</h2>
      <div class="flex-1 border-b border-border-green"></div>
    </div>
  </div>

  <div class="px-8">
    <div class="flex">
      <fieldset class="border border-border-green p-4 mr-4 min-w-40">
        <legend class="px-2">トンネル形状</legend>
        <ng-container *ngFor="let x of tunnelKeizyoList; index as i">
          <div class="mb-2">
            <label class="flex items-center space-x-2">
              <input type="radio" name="tunnelKeizyo" id="tunnelKeizyo{{i}}" [(ngModel)]="input.Data.tunnelKeizyo"
                [value]="x.id" [checked]="input.Data.tunnelKeizyo == x.id" (change)="setEnable()" />
              <span>{{ x.title }}</span>
            </label>
          </div>
        </ng-container>
      </fieldset>

      <fieldset class="border border-border-green p-4 mr-4 min-w-40">
        <legend class="px-2">覆工巻厚</legend>
        <div id="textbox">
          <input type="number" name="fukukouMakiatsu" [(ngModel)]="tempFukukouMakiatsu" (change)="setFukukouMakiatsu()"
            class="w-16 text-center disabled:bg-disabled-bg" min="30" max="70" />cm
        </div>
      </fieldset>

      <fieldset class="border border-border-green p-4 mr-4 min-w-40">
        <legend class="px-2">インバートの有無</legend>
        <ng-container *ngFor="let x of invertList; index as i">
          <div class="mb-2">
            <label class="flex items-center space-x-2">
              <input type="radio" name="invert" id="invert{{ i }}" [(ngModel)]="input.Data.invert" [value]="x.id"
                [checked]="input.Data.invert == x.id" (change)="setEnable()" />
              <span>{{ x.title }}</span>
            </label>
          </div>
        </ng-container>
      </fieldset>
    </div>
  </div>

  <div class="px-8">
    <div class="flex items-center my-1.5">
      <h2 class="text-lg font-normal mr-2">調査・計測結果の条件</h2>
      <div class="flex-1 border-b border-border-green"></div>
    </div>
  </div>


  <div class="px-8">
    <div class="flex">
      <fieldset class="border border-border-green p-4 mr-4 min-w-40">
        <legend class="px-2">背面空洞の有無</legend>
        <ng-container *ngFor="let x of haimenKudoList; index as i">
          <div class="mb-2">
            <label class="flex items-center space-x-2">
              <input type="radio" name="haimenKudo" id="haimenKudo{{ i }}" [(ngModel)]="input.Data.haimenKudo"
                [value]="x.id" [checked]="input.Data.haimenKudo == x.id" (change)="setEnable()" />
              <span>{{ x.title }}</span>
            </label>
          </div>
        </ng-container>
      </fieldset>
      <fieldset class="border border-border-green p-4 mr-4 min-w-40">
        <legend class="px-2">変形モード</legend>
        <ng-container *ngFor="let x of henkeiModeList; index as i">
          <div class="mb-2" [ngClass]="{'opacity-50': henkeiModeStyle[i] != 'Enable'}">
            <label class="flex items-center space-x-2">
              <input type="radio" name="henkeiMode" id="henkeiMode{{ i }}" [(ngModel)]="input.Data.henkeiMode"
                [value]="x.id" [checked]="input.Data.henkeiMode == x.id" [disabled]="henkeiModeStyle[i] != 'Enable'"
                class="disabled:bg-disabled-bg" (change)="setEnable()" />
              <span>{{ x.title }}</span>
            </label>
          </div>
        </ng-container>
      </fieldset>

      <fieldset class="border border-border-green p-4 mr-4 min-w-40">
        <legend class="px-2">地山強度</legend>
        <input type="number" [(ngModel)]="tempJiyamaKyodo" (change)="setJiyamaKyodo()"
          class="w-16 text-center disabled:bg-disabled-bg" min="2" max="8" />MPa
      </fieldset>

      <fieldset class="border border-border-green p-4 mr-4 min-w-40">
        <legend class="px-2">内空変位速度, 盤ぶくれ速度</legend>
        <input type="number" [(ngModel)]="tempNaikuHeniSokudo" (change)="setNaikuHeniSokudo()"
          class="w-16 text-center disabled:bg-disabled-bg" />mm/年
        <button class="ml-2 px-2 py-1 bg-primary text-white hover:bg-primary-light" (click)="getMonitoringData()">モニタリングデータ取得</button>
        <div class="mt-2">
          <pre>{{ tempMonitoringData}}</pre>
        </div>
      </fieldset>
    </div>
  </div>

  <div class="px-8">
    <div class="flex items-center my-1.5">
      <h2 class="text-lg font-normal mr-2">対策工の条件</h2>
      <div class="flex-1 border-b border-border-green"></div>
    </div>
  </div>

  <div class="px-8">
    <div class="flex">
      <fieldset class="border border-border-green p-4 mr-4 min-w-40">
        <legend class="px-2">裏込注入工</legend>
        <ng-container *ngFor="let x of uragomeChunyukoList; index as i">
          <div class="mb-2" [ngClass]="{'opacity-50': uragomeChunyukoStyle[i] != 'Enable'}">
            <label class="flex items-center space-x-2">
              <input type="radio" name="uragomeChunyuko" id="uragomeChunyuko{{ i }}"
                [(ngModel)]="input.Data.uragomeChunyuko" [value]="x.id" [checked]="input.Data.uragomeChunyuko == x.id"
                [disabled]="uragomeChunyukoStyle[i] != 'Enable'" class="disabled:bg-disabled-bg" (change)="setEnable()" />
              <span>{{ x.title }}</span>
            </label>
          </div>
        </ng-container>
      </fieldset>

      <fieldset class="border border-border-green p-4 mr-4 min-w-40">
        <legend class="px-2">ロックボルト工</legend>
        <ng-container *ngIf="!henkeiMode4Flag">
          <div class="flex">
            <div class="mr-4">
              <ng-container *ngFor="let x of lockBoltKouList; index as i">
                <div class="mb-2">
                  <label class="flex items-center space-x-2">
                    <input type="radio" name="lockBoltKou" id="lockBoltKou{{ i }}" [(ngModel)]="input.Data.lockBoltKou"
                      [value]="x.id" [checked]="input.Data.lockBoltKou == x.id" (change)="setEnable()" />
                    <span>{{ x.title }}</span>
                  </label>
                </div>
              </ng-container>
            </div>
            <div>
              <ng-container *ngFor="let x of lockBoltLengthList; index as i">
                <div class="mb-2" [ngClass]="{'opacity-50': lockBoltLengthStyle[i] != 'Enable'}">
                  <label class="flex items-center space-x-2">
                    <input type="radio" name="lockBoltLength" id="lockBoltLength{{ i }}"
                      [(ngModel)]="input.Data.lockBoltLength" [value]="x.id"
                      [checked]="input.Data.lockBoltLength == x.id"
                      [disabled]="lockBoltLengthStyle[i] != 'Enable'" class="disabled:bg-disabled-bg" />
                    <span>{{ x.title }}</span>
                  </label>
                </div>
              </ng-container>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="henkeiMode4Flag">
          <p class="text-gray-500">選択できません</p>
        </ng-container>
      </fieldset>


      <fieldset class="border border-border-green p-4 mr-4 min-w-40">
        <legend class="px-2">ロックボルト工（下向き）</legend>
        <ng-container *ngIf="downwardLockBoltEnable">
          <div class="flex">
            <div class="mr-4">
              <ng-container *ngFor="let x of downwardLockBoltKouList; index as i">
                <div class="mb-2">
                  <label class="flex items-center space-x-2">
                    <input type="radio" name="downwardLockBoltKou" id="downwardLockBoltKou{{ i }}"
                      [(ngModel)]="input.Data.downwardLockBoltKou" [value]="x.id"
                      [checked]="input.Data.downwardLockBoltKou == x.id" (change)="setEnable()" />
                    <span>{{ x.title }}</span>
                  </label>
                </div>
              </ng-container>
            </div>
            <div [ngClass]="{'opacity-50': downwardLockBoltLengthStyle != 'Enable'}">
              <ng-container *ngFor="let x of downwardLockBoltLengthList; index as i">
                <div class="mb-2">
                  <label class="flex items-center space-x-2">
                    <input type="radio" name="downwardLockBoltLength" id="downwardLockBoltLength{{ i }}"
                      [(ngModel)]="input.Data.downwardLockBoltLength" [value]="x.id"
                      [checked]="input.Data.downwardLockBoltLength == x.id"
                      [disabled]="downwardLockBoltLengthStyle != 'Enable'" class="disabled:bg-disabled-bg" />
                    <span>{{ x.title }}</span>
                  </label>
                </div>
              </ng-container>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="!downwardLockBoltEnable">
          <p class="text-gray-500">選択できません</p>
        </ng-container>
      </fieldset>


      <fieldset class="border border-border-green p-4 mr-4 min-w-40">
        <legend class="px-2">内巻補強</legend>
        <ng-container *ngIf="!henkeiMode4Flag">
          <ng-container *ngFor="let x of uchimakiHokyoList; index as i">
            <div class="mb-2">
              <label class="flex items-center space-x-2">
                <input type="radio" name="uchimakiHokyo" id="uchimakiHokyo{{ i }}"
                  [(ngModel)]="input.Data.uchimakiHokyo" [value]="x.id" [checked]="input.Data.uchimakiHokyo == x.id"
                  (change)="setEnable()" />
                <span>{{ x.title }}</span>
              </label>
            </div>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="henkeiMode4Flag">
          <p class="text-gray-500">選択できません</p>
        </ng-container>
      </fieldset>
    </div>
  </div>

</div>
