<div class="header">
    <div class="container">
        <div class="liner">
            <img src="./assets/icons/logo.png" alt="logo" />
            <div class="title-and-version">
                <h1>変状対策工設計ツール</h1>
                <div>Ver.{{version}}</div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="container">
        <div class="page-selector">
            <nav>
                <a routerLink="./input-page" routerLinkActive = "is-active">条件の設定</a>
                <a routerLink="./output-page" routerLinkActive = "is-active">結果</a>
            </nav>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>
