<div class="my-4">
    <div class="px-8">
        <div class="flex items-center">
            <img src="./assets/icons/logo.png" alt="logo" class="w-12 mr-4" />
            <div class="flex justify-between items-end flex-1 border-b border-border-green px-2">
                <h1 class="text-[2em] font-bold">変状対策工設計ツール</h1>
                <div>Ver.3.0.0</div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="px-8">
        <div class="flex cursor-pointer text-lg mt-4">
            <nav>
                <a routerLink="./input-page"  routerLinkActive="bg-primary-light text-white" class="flex h-[52px] w-[170px] p-[10px] mr-1 text-nav-text  bg-primary justify-center no-underline float-left">条件の設定</a>
                <a routerLink="./output-page" routerLinkActive="bg-primary-light text-white" class="flex h-[52px] w-[170px] p-[10px] mr-1 text-nav-text bg-primary justify-center no-underline float-left">結果</a>
            </nav>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>
